<h1>ASE2013 - blog application RoR </h1>


<hr />

<p id="blog">
 <%= link_to "See The Blog (user: dhh | psswd: secret)", controller: "posts" %>
</p>

<hr />

<ul class="checkmark">
 <li class="ok"><a href="http://guides.rubyonrails.org/getting_started.html">http://guides.rubyonrails.org/getting_started.html</a></li>
 <li class="ok">Columns sortable</li>
 <li class="ok">Git</li>
 <li class="ok">Heroku</li>
 <li class="ko">Twitter bootstrap (Windows)</li>
<ul>





<hr />
<img src="ror.png" alt="ror_logo" style="display: block; margin: 0 auto">
(Green team member #2)
